# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4.Scala
5.Java
6. C++
7. Julia
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow 
1. NumPy
1. SciPy
1. Pandas
1. Matplotlib
1. Apache Spark


| Data Science Tools |
| -------- |
| Jupyter Notebooks   |
| R Studio     |
| Anaconda    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

* Create a Jupyter Notebook
* Insert code and markdown cells
* List popular languages and tools for Data Science
* Share your notebook through GitHub

**Author**

Natalia